@import 'reset';

:root {
  --blue: #292eba;
  --pink: #e64f60;
  --yellow: #f4ac48;
}

body {
  font-family: helvetica;
  font-size: 2.5rem;
  line-height: 130%;
}

header {
  width: 100vw;
  height: 100vw;
  background: repeating-radial-gradient(var(--blue), var(--blue) 5%, var(--pink) 5%, var(--pink) 10%);
  display: flex;
  justify-content: center;
}

.introcite {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  line-height: 110%;
  width: 96rem;
  transform: rotate(-7deg);
}

.header-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.nico-headerimage {
  background-image: url(../assets/img/header-image.png);
  width: 71.3rem;
  height: 65.3rem;
}

main {
  top: 100vh;
  position: absolute;
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 96rem;
}

.margin {
  margin: 10rem;
}

.articlestyle {

  /*& ::first-letter {
    color: var(--blue);
    float: left;
    font-weight: bold;
    font-size: 7.5rem;
    line-height: 6rem;
    padding-top: .4rem;
    padding-right: .8rem;
    padding-left: .3rem;
  }*/
}

.articlestyle::first-letter {
  color: var(--blue);
  float: left;
  font-family: times;
  font-weight: bold;
  font-size: 7.5rem;
  line-height: 6rem;
  padding-top: .4rem;
  padding-right: .8rem;
  padding-left: .3rem;
}

.intro {
  width: 75rem;
}

.model {
  width: 34rem;
  margin-top: 20rem;
}

.model2 {
  width: 60rem;
}

.left {
  margin-left: 20rem;
}

.modelcite {
  font-size: 3.5rem;
  line-height: 140%;
  font-family: times;
  font-weight: bold;
  font-style: italic;
  padding-left: 1rem;
  border-left: 1rem solid var(--pink);
  margin-top: 20rem;
}

.gallery {
  width: 100vw;
  height: 80vh;
  background-color: var(--pink);
}

.black-velvet-header {
  margin-left: 0;
  background-image: url(../assets/img/velvetbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 68.4rem;

  &::after {
    content: '';
    background: linear-gradient(rgba(white, 0), rgba(white, 1));
    width: 100vw;
    height: 68.4rem;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    z-index: 9999;
  }
}

.underground {
  width: 75rem;
  border: 1px solid blue;
  margin-top: -20rem;
  z-index: 999;
}

h2 {
  color: var(--pink);
  font-family: times;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0 0 3rem -3rem;
}
