@import 'reset';

:root {
  --blue: #292eba;
  --pink: #e64f60;
  --yellow: #f4ac48;
}

body {
  font-family: helvetica;
  font-size: 2.5rem;
  line-height: 130%;
  color: #333;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.introcite {
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  font-family: times;
  line-height: 110%;
  background-color: white;
  position: absolute;
  bottom: 14rem;
  margin-left: -10rem;
}

.header-wrapper {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.nico-headerimage {
  background-image: url(../assets/img/header-image.png);
  width: 71.3rem;
  height: 65.3rem;

  &::before {
    content: '';
    width: 50rem;
    height: 7.5rem;
    background-color: var(--blue);
    margin-left: -1rem;
    margin-top: 62rem;
    position: absolute;
    transform: rotate(3deg);
    mix-blend-mode: darken;
  }
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 96rem;
  z-index: 3;
}

.margin {
  margin: 10rem;
}

.articlestyle {
  z-index: 9;

  &::first-letter {
    color: var(--blue);
    float: left;
    font-family: times;
    font-weight: bold;
    font-size: 7.5rem;
    line-height: 6rem;
    padding-top: .4rem;
    padding-right: .8rem;
    padding-left: .3rem;
  }
}

.intro {
  width: 75rem;
}

.model {
  width: 34rem;
  margin-top: 20rem;
}

.model2 {
  width: 60rem;
}

.left {
  margin-left: 20rem;
}

.modelcite {
  font-size: 3.5rem;
  line-height: 140%;
  font-family: times;
  font-weight: bold;
  font-style: italic;
  padding-left: 1rem;
  border-left: 1rem solid var(--pink);
  margin-top: 20rem;
}

.gallery {
  width: 100vw;
  height: 80vh;
  background-color: var(--pink);
}

.black-velvet-header {
  margin-left: 0;
  background-image: url(../assets/img/velvetbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 68.4rem;

  &::after {
    content: '';
    background: linear-gradient(rgba(255, 255, 255, 0), white);
    width: 100vw;
    height: 68.4rem;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    z-index: 2;
  }
}

.underground {
  width: 75rem;
  margin-top: -20rem;
}

h2 {
  color: var(--pink);
  font-family: times;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0 0 3rem -3rem;
}

.nico-image-1 {
  background-image: url(../assets/img/nico1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 67.2rem;
  width: 100vw;
  margin-top: 5rem;
}

.nico-image-2 {
  background-image: url(../assets/img/nico2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 108rem;
  width: 100vw;
  margin-top: 5rem;
  left: 0;
}

.undergroundcite {
  width: 50rem;
  font-size: 3.5rem;
  line-height: 140%;
  font-family: times;
  font-weight: bold;
  font-style: italic;
  padding-left: 1rem;
  border-left: 1rem solid var(--pink);
}

.undergroundsection {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}

.undergroundstyle {
  width: 50rem;
}

.react-mount2 {
  width: 25rem;
  height: 25rem;
  background-color: var(--yellow);
}
